body {
    font-family: Arial, sans-serif;
    background-color: #051501;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #476c52;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 15px rgba(114, 139, 128, 0.5);
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #01140d;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-group {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #052b12;
    color: #fff;
}

.btn-secondary {
    background-color: #052b12;
    color: #fff;
    margin-left: 10px;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup label {
    font-weight: normal;
}

.close-btn {
    cursor: pointer;
}

.checkbox-group label {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    white-space: nowrap
}
